<template>
  <q-page class="flex flex-center">
    <div style="width: 50%;">
      <div class="row">
        <div class="col">
          <h1 class="todos-header">Todos</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <q-card class="my-card" bordered>
            <q-card-section class="todos-add-section">
              <q-input
                borderless
                placeholder="What need be done?"
                class="todos-add--input"
                @keyup.enter="addTodo({name: $event.target.value})"
                @keyup.esc="$event.target.value = ''"
              >
                <template v-slot:prepend>
                  <q-icon name="keyboard_arrow_down" />
                </template>
              </q-input>
            </q-card-section>
            <q-separator />

            <q-card-actions vertical>
              <q-list separator>
                <q-item v-ripple v-for="(todo, idx) in todos" :key="idx">
                  <q-item-section side>
                    <q-checkbox
                      :value="todo.completed"
                      @input="changeTodo({idx, 
                                          todo: {
                                            ...todo, 
                                            completed: !todo.completed
                                          }
                                        })"
                    />
                  </q-item-section>
                  <q-item-section>
                    <q-input
                      :value="todo.name"
                      @keyup="onKeyUpTodo(idx, $event)"
                      borderless
                      dense
                      :class="{'completed': todo.completed}"
                    ></q-input>
                  </q-item-section>
                  <q-item-section side>
                    <q-btn
                      flat
                      round
                      color="red-3"
                      icon="clear"
                      class="clear-btn"
                      @click="removeTodo(idx)"
                    />
                  </q-item-section>
                </q-item>
              </q-list>
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  created() {},
  computed: {
    ...mapState("todos", ["todos"])
  },
  methods: {
    ...mapActions("todos", ["addTodo", "changeTodo", "removeTodo"]),
    onKeyUpTodo(idx, event) {
      let newName = event.target.value;
      this.changeTodo({
        idx,
        todo: {
          name: event.target.value,
          completed: false
        }
      });
    }
  }
};
</script>
<style lang="scss">
.todos-header {
  line-height: 0;
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}
.todos-add--input {
  input::placeholder {
    font-size: 25px;
    color: #e0e0e0;
    font-style: italic;
  }

  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  height: 60px;
}
.completed {
  text-decoration: line-through;
}
.todos-add-section {
  padding: 10px 0 0 10px;
}
.clear-btn {
  display: none;
}
.q-item:hover {
  & .clear-btn {
    display: inherit;
  }
}
</style> >

